.classpath
.project
/bin/
*.swp
*~
tmp/
*.r
*.xml
.settings/
tests/
libs/
zipped_code/
*.csv
dbscripts/
plots/
output/
script_hashtags.py
img/
.externalToolBuilders/
outputs11-11/
/target/
*.txt*
*.zip
